@import "variables";
html
{
	height: 100%;
}
body
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
canvas
{
	border: 3px solid black;
}
button
{
	width: 100px;
}
input
{
	margin-left: 2px;
	margin-right: 2px;
}
h2
{
	text-align: center;
}