@import "variables";
header
{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 102;
	&:before
	{
		border-bottom: 1px solid rgba(50, 55, 60, .5);
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: rgba(50, 55, 60, .3);
		z-index: -1;
	}
	h1
	{
		flex: 3;
		font-size: 1.3rem;
	}
	.connect
	{
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
#main
{
	h2
	{
		margin: 2rem 0;
		font-size: 1.2rem;
	}
	form
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		label
		{
			margin-top: .5rem;
		}
		input
		{
			margin-top: 1rem;
		}
		.submit
		{
			padding: .2rem .5rem;
		}
	}
	.dessins
	{
		margin-top: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.dessin
		{
			border-top-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
			margin-bottom: 1rem;
			position: relative;
			max-width: 100%;
			height: auto;
			transition: all .4s;
			&:hover
			{
				border: 1px solid white;
				transform: scale(1.2);
				box-shadow: 8px 12px 4px rgba(33, 33, 36, .3);
				z-index: 100;
				img
				{
					opacity: 1;
				}
			}
			img
			{
				border-top-right-radius: 1rem;
				border-bottom-left-radius: 1rem;
				max-width: 300px;
				height: auto;
				background-color: white;
				opacity: .8;
				transition: all .5s;
			}
			.dessinInfo
			{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: baseline;
				color: white;
				text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
				pointer-events: none;
				.dessinTitre
				{
					border-top-right-radius: 1rem;
					padding: .5rem 1rem;
					width: 100%;
					text-transform: uppercase;
					text-align: left;
					background-color: rgba(75, 100, 100, .8);
				}
				.dessinAuteur
				{
					border-bottom-left-radius: 1rem;
					padding: .5rem 1rem;
					flex: 1;
					align-self: flex-end;
					font-size: .8rem;
					text-align: left;
					background-color: rgba(75, 100, 100, .8);
					&:first-letter
					{
						text-transform: uppercase;
					}			
				}
				.dessinDate
				{
					padding: .5rem 1rem;
					flex: 1;
					align-self: flex-end;
					font-size: .8rem;
					font-style: italic;
					text-align: right;
					background-color: rgba(75, 100, 100, .8);
				}
			}
		}
	}
}
#interface
{
	margin-top: 1rem;
	width: 100%;
	.menuRow
	{
		margin-bottom: .5rem;
		width: 100%;
		height: 33px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.brushs
		{
			display: flex;
			justify-content: center;
			align-items: center;
			.button_unselect
			{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.button_Select
			{
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: black;
				color: white;
			}
		}
		.sousOptionsContainer
		{
			margin-left: $spaceBetweenOptions;
			margin-right: $spaceBetweenOptions;
			display: flex;
			align-items: center;
			#color, #colorStroke
			{
				margin-left: $spaceBetweenOptions;
				margin-right: $spaceBetweenOptions;
				border: 1px solid black;
				width: 33px;
				height: 33px;
				background-color: black;
			}
			#lineOptionWidth
			{
				width: 50px;
			}
			#strokeColorR, #colorR
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: red;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: red;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
			#strokeColorG, #colorG
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: green;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: green;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
			#strokeColorB, #colorB
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: blue;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: blue;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
		}
		.slider, .sliderCircle
		{
			width: 50px;
		}
	}
	#recordSubmit
	{
		border: 2px solid black;
		border-radius: 50%;
		width: 33px;
		height: 33px;
		font-size: .7rem;
		color: black;
		background-color: orange;
		&:hover
		{
			border: 2px solid orange;
			color: white;
			background-color: black;
			cursor: pointer;
		}
	}
}

#opacityFill, #opacityStroke
{
	width: 30px;
}

#code
{
	padding: 10px;
	width: 702px;
	background-color: black;
	color: green;
	font-size: 16px;
	font-weight: bold;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
	span
	{
		font-weight: inherit;
	}
}
#canvasRelative
{
	position: relative;
}