@import "variables";
header
{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 102;
	&:before
	{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: #669da8;
		z-index: -1;
		box-shadow: 0px 12px 2px 1px rgba(27, 32, 33, .2);
	}
	h1
	{
		flex: 3;
		font-size: 1.3rem;
		color: #1b2021;
	}
	.connect
	{
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.submit
		{
			margin-left: .5rem;
			padding: .2rem .5rem;
			text-decoration: none;
			font-size: 1rem;
			letter-spacing: .1rem;
			color: #f9fcff;
			&:hover
			{
				color: #1b2021;
			}
		}
	}
}
#main
{
	width: 100%;
	h2
	{
		margin: 2rem 0;
		font-size: 1.2rem;
	}
	form
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		label
		{
			margin-top: .5rem;
		}
		input
		{
			margin-top: 1rem;
		}
		.submit
		{
			padding: .2rem .5rem;
		}
	}
	.dessins
	{
		margin-top: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		.dessin
		{
			position: relative;
			width: 200px;
			height: 200px;
			object-fit: cover;
			transition: all .4s;
			&:hover
			{
				.dessinInfo
				{
					background-color: rgba(0, 0, 0, .4);
					.miniature
					{
						border-radius: 50%;
					}
					.dessinTitre
					{
						letter-spacing: initial;
						opacity: 1;
					}
					.dessinAuteur
					{
						opacity: 1;
					}
					.dessinDate
					{
						opacity: 1;
					}
				}
			}
			.miniature
			{
				width: 100%;
				background-color: white;
				transition: all .5s;
			}
			.dessinInfo
			{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				color: white;
				text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
				pointer-events: none;
				transition: all .5s;
				.dessinTitre
				{
					width: 100%;
					text-align: center;
					font-size: 1rem;
					opacity: 0;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					letter-spacing: .2rem;
					transition: letter-spacing 1s;
				}
				.dessinAuteur
				{
					font-size: .9rem;
					text-align: center;
					opacity: 0;
					transition: opacity .5s;
					transition-delay: .2s;
					&:first-letter
					{
						text-transform: uppercase;
					}			
				}
				.dessinDate
				{
					font-size: .8rem;
					font-style: italic;
					text-align: center;
					opacity: 0;
					transition: opacity .5s;
					transition-delay: .2s;
				}
			}
		}
		.dessinMy
		{
			border: 2px solid orange;
			&:hover
			{
				border: 2px solid orange;
			}
		}
	}
}
#interface
{
	padding: 70px .4rem .4rem .4rem;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 132px;
	background-color: #3d4e51;
	z-index: 101;
	.menuRow
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		.brushs
		{
			border-bottom: 1px dotted #3d4e51;
		}
		.sousOptionsContainer
		{
			text-align: center;
		}
		.brushs, .sousOptionsContainer
		{			
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			width: 116px;
			button
			{
				margin: .4rem 0;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 48px;
				height: 48px;
				border-radius: 4px;
			    font-family: $fontSecondaire;
			    color: black;
				background-color: #f9fcff;
				transition: border-radius .5s;
				&:hover
				{
					background-color: #95d6e2;
					cursor: pointer;
				}
				&:hover:after
				{
					border-radius: 50%;
					border: 1px solid white;
					padding: .7rem;
					position: absolute;
					left: 110%;
					top: 0;
					color: #f9fcff;
					background-color: #1b2021;
					z-index: 103;
				}
			}
			#drawBrush
			{
				&:hover:after
				{
					content:"Brush";
				}
			}
			#drawLine
			{
				&:hover:after
				{
					content:"Line";
				}
			}
			#drawLineForm
			{
				&:hover:after
				{
					content:"Shape by Line";
				}
			}
			#drawRectangle
			{
				&:hover:after
				{
					content:"Rectangle";
				}
			}
			#drawCircle
			{
				margin-right: auto;
				&:hover:after
				{
					content:"circle";
				}
			}
			.button_unselect
			{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.button_Select
			{
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #95d6e2;
			}
			#color, #colorStroke
			{
				border: 1px solid black;
				width: 48px;
				height: 24px;
				background-color: black;
			}
			#lineOptionWidth
			{
				width: 50px;
			}
			#strokeColorR, #colorR
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: red;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: red;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
			#strokeColorG, #colorG
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: green;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: green;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
			#strokeColorB, #colorB
			{
				 -webkit-appearance: none;
			    appearance: none;
				&::-moz-range-track
				{  
			  		background-color: blue;
				}
				&::-webkit-slider-thumb
				{
					margin-top: -9px;
				    -webkit-appearance: none;
				    border-radius: 50%;
				    border: 1px solid white;
				    width: 20px;
				    height: 20px;
				    background: blue;
				    cursor: pointer;
				    color: black;
			    }
				&::-webkit-slider-runnable-track
				{
				  width: 100%;
				  height: 3px;
				  cursor: pointer;
				  background: black;
				}
				&::-ms-fill-lower
				{
			  		background: black;
			  		border-radius: 50px;
				}
				&::-ms-fill-upper
				{
			  		background: black;
			  		border-radius: 50px;
				}
			   	&::-ms-thumb
				{
					margin-top: 0px;
				}
			}
		}
		.slider, .sliderCircle
		{
			width: 50px;
		}
	}
	.undoredo
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-top: 1px dotted #3d4e51;
	}
	#undo, #redo, #opacityFill, #opacityStroke, #lineOptionWidth, #color, #colorStroke
	{
		margin: .4rem 0;
		width: 48px;
		height: 24px;
		color: black;
	}
	#recordSubmit
	{
		border: 2px solid black;
		width: 100%;
		height: 33px;
		font-size: .7rem;
		color: black;
		background-color: orange;
		&:hover
		{
			border: 2px solid orange;
			color: white;
			background-color: black;
			cursor: pointer;
		}
	}
}

#opacityFill, #opacityStroke
{
	width: 30px;
}

#code
{
	padding: 10px;
	width: 702px;
	background-color: black;
	color: green;
	font-size: 16px;
	font-weight: bold;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
	span
	{
		font-weight: inherit;
	}
}
#canvasRelative
{
	position: relative;
}