@import "variables";
#interface
{
	min-width: 150px;
	max-width: 150px;
	min-height: 700px;
	background-color: green;
}
.button_unselect
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	font-weight: bold;
	background-color: white;
	color: black;
}
.button_Select
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
}
#code
{
	min-width: 150px;
	max-width: 150px;
	height: 700px;
	background-color: green;
	overflow-y: scroll;
	overflow-x: visible;
}
#canvasRelative
{
	position: relative;
}
.slider
{
	width: 100%;
}
#color, #colorStroke
{
	margin-left: auto;
	margin-right: auto;	
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: black;
}