@import "variables";
button
{
	border: 1px solid black;
	border-radius: 4px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	color: black;
	font-weight: bold;
	background-color: pink;
	&:hover
	{
		color: white;
		background-color: black;
	}
}
h1
{
	margin: 1rem 0;
	font-size: 1.2rem;
}
.smsAlert
{	
	margin-top: 1rem;
	color: red;
}
.sms
{	
	margin-top: 1rem;
	color: green;
}
.submit
{
	margin-left: .5rem;
	padding: .2rem .5rem;
	text-decoration: none;
	color: orange;
	background-color: black;
	&:hover
	{
		color: white;
	}
}
.submitHref
{
	color: rgb(50, 50, 175);
	text-decoration: underline;
	background: none;
	&:hover
	{
		color: black;
		cursor: pointer;
	}
}
.pagination
{
	display: flex;
	align-items: baseline;
	form
	{
		input
		{
			border-radius: 50%;
			padding: .2rem .5rem;
			font-weight: bold;
			color: white;
			background-color: black;
			&:hover
			{
				cursor: pointer;
				color: orange;
			}
		}
	}
	.paginationChiffre, .paginationChiffreActu
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1rem;
		height: 1rem;
		font-size: 1rem;
		text-decoration: none;
		color: black;
	}
	.paginationChiffre
	{
		&:hover
		{
			border-radius: 50%;
			color: orange;
			background-color: black;
		}
	}
	.paginationChiffreActu
	{
		border-radius: 50%;
		color: orange;
		background-color: black;
	}
}