@import "variables";
button
{
	border: 1px solid black;
	border-radius: 4px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	color: black;
	font-weight: bold;
	background-color: pink;
	&:hover
	{
		color: white;
		background-color: black;
	}
}
h1
{
	margin: 1rem 0;
	font-size: 1.2rem;
}
.sms
{
	color: red;
}