@import "variables";
.smsAlert
{	
	margin-top: 1rem;
	color: red;
}
.sms
{	
	margin-top: 1rem;
	color: #0FEB03;
}
.paginFilterContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	#formFilter
	{
		margin-bottom: 1rem;
		width: 100%;
		p
		{
			label
			{
				color: #f9fcff;
			}
		}
	}
	.pagination
	{
		margin-left: 2rem;
		display: flex;
		justify-content: center;
		align-items: baseline;
		color: #f9fcff;
		form
		{
			input
			{
				border-radius: 50%;
				padding: .2rem .5rem;
				font-weight: bold;
				color: white;
				background-color: transparent;
				&:hover
				{
					cursor: pointer;
					color: #669da8;
				}
			}
		}
		.paginationChiffre, .paginationChiffreActu
		{
			margin: .5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			font-size: 1rem;
			text-decoration: none;
			color: #f9fcff;
		}
		.paginationChiffre
		{
			&:hover
			{
				border-radius: 50%;
				color: black;
				background-color: #669da8;
			}
		}
		.paginationChiffreActu
		{
			border-radius: 50%;
			color: black;
			background-color: #669da8;
		}
	}
}

#dessinDetail
{
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: all 1s;
	#modalContainer
	{	
		flex: 1;
		border-radius: 8px 8px 0 0;
		-moz-user-select: none;
 		-webkit-user-select: none;
 		-ms-user-select: none;
 		user-select: none;
		display: none;
		position: relative;
		max-width: 960px;
		background-color: white;
		.arrowLeft, .arrowRight
		{
			position: absolute;
			top: calc(50% - 25px);
			width: 50px;
			height: 50px;
			color: black;
			transform: rotate(45deg);
			animation: carouselArrowWait 1s linear infinite alternate;
			transition: all .5s;
			&:hover
			{
				border-color: #669da8;
			}
		}
		.arrowLeft
		{
			border-bottom: 2px solid white;
			border-left: 2px solid white;
			left: 25px;
		}
		.arrowRight
		{
			border-top: 2px solid white;
			border-right: 2px solid white;
			right: 25px;
		}
		#imgActu
		{			
			flex: 1;
			border: 2px solid white;
			border-radius: 8px 8px 0 0;
			text-align: center;
			background-color: black;
			img
			{
				height: 75vh;
				background-color: white;
			}
			.titre
			{
				border-radius: 8px 8px 0 0;
				padding: .5rem 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				font-size: 1.3rem;
				text-transform: uppercase;
				text-align: left;
				background-color: rgba(75, 100, 100, .8);
				#changeTitleForm
				{
					flex: 1;
					.changeTitle
					{
						margin-top: 0;
						width: 100%;
						color: white;
						background-color: transparent;
						pointer-events: none;
					}
					.changeTitleOpen
					{
						color: black;
						background-color: white;
						pointer-events: auto;
					}
				}
				.dessinOptions
				{
					.deleteDessin, .changeTitleIcon
					{
						border: 2px solid white;
						border-radius: 50%;
						width: 24px;
						height: 24px;
						background-color: white;
					}
					.changeTitleIcon
					{
						margin: 0 1rem;
					}
					.deleteDessin:hover
					{
						border-color: red;
						cursor: pointer;
						background-color: red;
					}
					.changeTitleIcon:hover
					{
						border-color: #669da8;
						cursor: pointer;
						background-color: #669da8;
					}
				}
			}
			.auteur
			{
				padding: .5rem 1rem;
				flex: 1;
				align-self: flex-end;
				font-size: .8rem;
				font-style: italic;
				text-align: right;
				color: #f9fcff;
				background-color: rgba(75, 100, 100, .8);
			}
		}
		#codeActu
		{
			display: flex;
			justify-content: center;
			height: 75vh;
			padding: 10px;
			flex: 1;
			background-color: black;
			color: green;
			font-size: 16px;
			font-weight: bold;
			overflow: scroll;
			overflow-x: hidden;
			text-align: left;
			-webkit-user-select: all;
			-moz-user-select: all;
			-ms-user-select: all;
			user-select: all;
		}
		#toggleDisplay
		{
			padding: 0 .5rem;	
			position: absolute;
			height: 30px;
			bottom: 2px;
			left: 2px;
			color: black;
			background-color: #f9fcff;
			&:hover
			{
				background-color: #669da8
			}
		}
	}
}

#dessinDetail.dessinDetailMax
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	z-index: 101;
	#modalContainer
	{	
		display: flex;
	}
}
.deleteValidation
{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: .5rem 1rem;
	position: absolute;
	top: 2.7rem;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .9);
	input
	{
		font-weight: bold;
		color: red;
		background-color: transparent;
		&:hover
		{
			animation: deleteValidation 1s linear infinite alternate;
			transition: all .5s;
			cursor: pointer;
		}
	}
}

.button_unselect
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
}
.button_Select
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: #95d6e2;
}
//Authentification
.formulaire
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	h2
	{
		font-family: $fontTitre;
		color: #f9fcff;
		text-align: center;	
	}
	form
	{
		width: 33%;
		label
		{
			font-family: $fontTitre;
			color: #f9fcff;		
		}
		input
		{
			width: 100%;
			border-radius: 4px;
			margin-bottom: 1rem;
		}
		.submitAuth
		{
			padding: .3rem .5rem;
			border-radius: 4px;
		    color: black;
			background-color: #f9fcff;
			transition: border-radius .5s;
			width: auto;
			&:hover
			{
				background-color: #95d6e2;
				cursor: pointer;
			}
		}
		.submitHref
		{
			color: #669da8;
			text-decoration: underline;
			text-align: left;
			background: none;
			width: 100%;
			&:hover
			{
				color: #f9fcff;
				cursor: pointer;
			}
		}
	}
}