html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, input, fieldset, label, legend, code, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  box-shadow: none; }

@keyframes carouselArrowWait {
  0% {
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px; }
  100% {
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px; } }
@keyframes deleteValidation {
  0% {
    letter-spacing: inehrit; }
  100% {
    letter-spacing: .5rem;
    content: "?"; } }
html {
  height: 100%;
  background-color: #1b2021;
  font-family: "Raleway", sans-serif; }

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

header, h2 {
  font-family: "Oswald", sans-serif; }

canvas {
  border: 1px solid black;
  background-color: white; }

h2 {
  text-align: center; }

h1 {
  margin: 1rem 0;
  font-size: 1.2rem; }

.smsAlert {
  margin-top: 1rem;
  color: red; }

.sms {
  margin-top: 1rem;
  color: #0FEB03; }

#formFilter p label {
  color: #f9fcff; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #f9fcff; }
  .pagination form input {
    border-radius: 50%;
    padding: .2rem .5rem;
    font-weight: bold;
    color: white;
    background-color: transparent; }
    .pagination form input:hover {
      cursor: pointer;
      color: #669da8; }
  .pagination .paginationChiffre, .pagination .paginationChiffreActu {
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #f9fcff; }
  .pagination .paginationChiffre:hover {
    border-radius: 50%;
    color: black;
    background-color: #669da8; }
  .pagination .paginationChiffreActu {
    border-radius: 50%;
    color: black;
    background-color: #669da8; }

#dessinDetail {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 1s; }
  #dessinDetail #modalContainer {
    flex: 1;
    border-radius: 8px 8px 0 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    position: relative;
    max-width: 960px;
    background-color: white; }
    #dessinDetail #modalContainer .arrowLeft, #dessinDetail #modalContainer .arrowRight {
      position: absolute;
      top: calc(50% - 25px);
      width: 50px;
      height: 50px;
      color: black;
      transform: rotate(45deg);
      animation: carouselArrowWait 1s linear infinite alternate;
      transition: all .5s; }
      #dessinDetail #modalContainer .arrowLeft:hover, #dessinDetail #modalContainer .arrowRight:hover {
        border-color: #669da8; }
    #dessinDetail #modalContainer .arrowLeft {
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      left: 25px; }
    #dessinDetail #modalContainer .arrowRight {
      border-top: 2px solid white;
      border-right: 2px solid white;
      right: 25px; }
    #dessinDetail #modalContainer #imgActu {
      flex: 1;
      border: 2px solid white;
      border-radius: 8px 8px 0 0;
      text-align: center;
      background-color: black; }
      #dessinDetail #modalContainer #imgActu img {
        height: 75vh;
        background-color: white; }
      #dessinDetail #modalContainer #imgActu .titre {
        border-radius: 8px 8px 0 0;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.3rem;
        text-transform: uppercase;
        text-align: left;
        background-color: rgba(75, 100, 100, 0.8); }
        #dessinDetail #modalContainer #imgActu .titre #changeTitleForm {
          flex: 1; }
          #dessinDetail #modalContainer #imgActu .titre #changeTitleForm .changeTitle {
            margin-top: 0;
            width: 100%;
            color: white;
            background-color: transparent;
            pointer-events: none; }
          #dessinDetail #modalContainer #imgActu .titre #changeTitleForm .changeTitleOpen {
            color: black;
            background-color: white;
            pointer-events: auto; }
        #dessinDetail #modalContainer #imgActu .titre .dessinOptions .deleteDessin, #dessinDetail #modalContainer #imgActu .titre .dessinOptions .changeTitleIcon {
          border: 2px solid white;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          background-color: white; }
        #dessinDetail #modalContainer #imgActu .titre .dessinOptions .changeTitleIcon {
          margin: 0 1rem; }
        #dessinDetail #modalContainer #imgActu .titre .dessinOptions .deleteDessin:hover {
          border-color: red;
          cursor: pointer;
          background-color: red; }
        #dessinDetail #modalContainer #imgActu .titre .dessinOptions .changeTitleIcon:hover {
          border-color: #669da8;
          cursor: pointer;
          background-color: #669da8; }
      #dessinDetail #modalContainer #imgActu .auteur {
        padding: .5rem 1rem;
        flex: 1;
        align-self: flex-end;
        font-size: .8rem;
        font-style: italic;
        text-align: right;
        color: #f9fcff;
        background-color: rgba(75, 100, 100, 0.8); }
    #dessinDetail #modalContainer #codeActu {
      display: flex;
      justify-content: center;
      height: 75vh;
      padding: 10px;
      flex: 1;
      background-color: black;
      color: green;
      font-size: 16px;
      font-weight: bold;
      overflow: scroll;
      overflow-x: hidden;
      text-align: left;
      -webkit-user-select: all;
      -moz-user-select: all;
      -ms-user-select: all;
      user-select: all; }
    #dessinDetail #modalContainer #toggleDisplay {
      padding: 0 .5rem;
      position: absolute;
      height: 30px;
      bottom: 2px;
      left: 2px;
      color: black;
      background-color: #f9fcff; }
      #dessinDetail #modalContainer #toggleDisplay:hover {
        background-color: #669da8; }

#dessinDetail.dessinDetailMax {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 101; }
  #dessinDetail.dessinDetailMax #modalContainer {
    display: flex; }

.deleteValidation {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: .5rem 1rem;
  position: absolute;
  top: 2.7rem;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); }
  .deleteValidation input {
    font-weight: bold;
    color: red;
    background-color: transparent; }
    .deleteValidation input:hover {
      animation: deleteValidation 1s linear infinite alternate;
      transition: all .5s;
      cursor: pointer; }

.button_unselect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px; }

.button_Select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #95d6e2; }

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; }
  .formulaire h2 {
    font-family: "Oswald", sans-serif;
    color: #f9fcff;
    text-align: center; }
  .formulaire form {
    width: 33%; }
    .formulaire form label {
      font-family: "Oswald", sans-serif;
      color: #f9fcff; }
    .formulaire form input {
      width: 100%;
      border-radius: 4px;
      margin-bottom: 1rem; }
    .formulaire form .submitAuth {
      padding: .3rem .5rem;
      border-radius: 4px;
      color: black;
      background-color: #f9fcff;
      transition: border-radius .5s;
      width: auto; }
      .formulaire form .submitAuth:hover {
        background-color: #95d6e2;
        cursor: pointer; }
    .formulaire form .submitHref {
      color: #669da8;
      text-decoration: underline;
      text-align: left;
      background: none;
      width: 100%; }
      .formulaire form .submitHref:hover {
        color: #f9fcff;
        cursor: pointer; }

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 102; }
  header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #669da8;
    z-index: -1;
    box-shadow: 0px 12px 2px 1px rgba(27, 32, 33, 0.2); }
  header h1 {
    flex: 3;
    font-size: 1.3rem;
    color: #1b2021; }
  header .connect {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .connect .submit {
      margin-left: .5rem;
      padding: .2rem .5rem;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: .1rem;
      color: #f9fcff; }
      header .connect .submit:hover {
        color: #1b2021; }

#main.gallery {
  margin-top: 2rem;
  height: 100vh;
  width: 100%; }
  #main.gallery h2 {
    margin: 2rem 0;
    font-size: 1.2rem; }
  #main.gallery form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #main.gallery form label {
      margin-top: .5rem; }
    #main.gallery form input {
      margin-top: 1rem; }
    #main.gallery form .submit {
      padding: .2rem .5rem; }
  #main.gallery .dessins {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex: 1; }
    #main.gallery .dessins .dessin {
      margin: 1px;
      border: 2px solid #f9fcff;
      position: relative;
      width: 200px;
      height: 200px;
      object-fit: cover;
      transition: all .4s; }
      #main.gallery .dessins .dessin:hover .dessinInfo {
        background-color: rgba(0, 0, 0, 0.4); }
        #main.gallery .dessins .dessin:hover .dessinInfo .miniature {
          border-radius: 50%; }
        #main.gallery .dessins .dessin:hover .dessinInfo .dessinTitre {
          letter-spacing: initial;
          opacity: 1; }
        #main.gallery .dessins .dessin:hover .dessinInfo .dessinAuteur {
          opacity: 1; }
        #main.gallery .dessins .dessin:hover .dessinInfo .dessinDate {
          opacity: 1; }
      #main.gallery .dessins .dessin .miniature {
        width: 100%;
        background-color: white;
        transition: all .5s; }
      #main.gallery .dessins .dessin .dessinInfo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
        pointer-events: none;
        transition: all .5s; }
        #main.gallery .dessins .dessin .dessinInfo .dessinTitre {
          width: 100%;
          text-align: center;
          font-size: 1rem;
          opacity: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          letter-spacing: .2rem;
          transition: letter-spacing 1s; }
        #main.gallery .dessins .dessin .dessinInfo .dessinAuteur {
          font-size: .9rem;
          text-align: center;
          opacity: 0;
          transition: opacity 1s;
          transition-delay: .2s; }
          #main.gallery .dessins .dessin .dessinInfo .dessinAuteur:first-letter {
            text-transform: uppercase; }
        #main.gallery .dessins .dessin .dessinInfo .dessinDate {
          font-size: .8rem;
          font-style: italic;
          text-align: center;
          opacity: 0;
          transition: opacity 1s;
          transition-delay: .2s; }
    #main.gallery .dessins .dessinMy {
      border: 2px solid #669da8; }
      #main.gallery .dessins .dessinMy:hover {
        border: 2px solid #669da8; }

#interface {
  padding: 70px .4rem .4rem .4rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 132px;
  background-color: #3d4e51;
  z-index: 101; }
  #interface .menuRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    #interface .menuRow .brushs {
      border-bottom: 1px dotted rgba(249, 252, 255, 0.3); }
    #interface .menuRow .sousOptionsContainer {
      text-align: center; }
    #interface .menuRow .brushs, #interface .menuRow .sousOptionsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 116px; }
      #interface .menuRow .brushs .optionTitre, #interface .menuRow .sousOptionsContainer .optionTitre {
        width: 100%;
        color: #f9fcff; }
      #interface .menuRow .brushs .button_unselect, #interface .menuRow .sousOptionsContainer .button_unselect {
        display: flex;
        justify-content: center;
        align-items: center; }
      #interface .menuRow .brushs .button_Select, #interface .menuRow .sousOptionsContainer .button_Select {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #95d6e2; }
      #interface .menuRow .brushs #color, #interface .menuRow .brushs #colorStroke, #interface .menuRow .sousOptionsContainer #color, #interface .menuRow .sousOptionsContainer #colorStroke {
        border: 1px solid black;
        width: 48px;
        height: 24px; }
      #interface .menuRow .brushs #colorStroke, #interface .menuRow .sousOptionsContainer #colorStroke {
        background-color: red; }
      #interface .menuRow .brushs #color, #interface .menuRow .sousOptionsContainer #color {
        background-color: lime; }
      #interface .menuRow .brushs #lineOptionWidth, #interface .menuRow .sousOptionsContainer #lineOptionWidth {
        text-align: center;
        width: 50px; }
      #interface .menuRow .brushs #strokeColorR, #interface .menuRow .brushs #colorR, #interface .menuRow .sousOptionsContainer #strokeColorR, #interface .menuRow .sousOptionsContainer #colorR {
        -webkit-appearance: none;
        appearance: none; }
        #interface .menuRow .brushs #strokeColorR::-moz-range-track, #interface .menuRow .brushs #colorR::-moz-range-track, #interface .menuRow .sousOptionsContainer #strokeColorR::-moz-range-track, #interface .menuRow .sousOptionsContainer #colorR::-moz-range-track {
          background-color: red; }
        #interface .menuRow .brushs #strokeColorR::-webkit-slider-thumb, #interface .menuRow .brushs #colorR::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #strokeColorR::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #colorR::-webkit-slider-thumb {
          margin-top: -9px;
          -webkit-appearance: none;
          border-radius: 50%;
          border: 1px solid white;
          width: 20px;
          height: 20px;
          background: red;
          cursor: pointer;
          color: black; }
        #interface .menuRow .brushs #strokeColorR::-webkit-slider-runnable-track, #interface .menuRow .brushs #colorR::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #strokeColorR::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #colorR::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: black; }
        #interface .menuRow .brushs #strokeColorR::-ms-fill-lower, #interface .menuRow .brushs #colorR::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #strokeColorR::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #colorR::-ms-fill-lower {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorR::-ms-fill-upper, #interface .menuRow .brushs #colorR::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #strokeColorR::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #colorR::-ms-fill-upper {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorR::-ms-thumb, #interface .menuRow .brushs #colorR::-ms-thumb, #interface .menuRow .sousOptionsContainer #strokeColorR::-ms-thumb, #interface .menuRow .sousOptionsContainer #colorR::-ms-thumb {
          margin-top: 0px; }
      #interface .menuRow .brushs #strokeColorG, #interface .menuRow .brushs #colorG, #interface .menuRow .sousOptionsContainer #strokeColorG, #interface .menuRow .sousOptionsContainer #colorG {
        -webkit-appearance: none;
        appearance: none; }
        #interface .menuRow .brushs #strokeColorG::-moz-range-track, #interface .menuRow .brushs #colorG::-moz-range-track, #interface .menuRow .sousOptionsContainer #strokeColorG::-moz-range-track, #interface .menuRow .sousOptionsContainer #colorG::-moz-range-track {
          background-color: green; }
        #interface .menuRow .brushs #strokeColorG::-webkit-slider-thumb, #interface .menuRow .brushs #colorG::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #strokeColorG::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #colorG::-webkit-slider-thumb {
          margin-top: -9px;
          -webkit-appearance: none;
          border-radius: 50%;
          border: 1px solid white;
          width: 20px;
          height: 20px;
          background: green;
          cursor: pointer;
          color: black; }
        #interface .menuRow .brushs #strokeColorG::-webkit-slider-runnable-track, #interface .menuRow .brushs #colorG::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #strokeColorG::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #colorG::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: black; }
        #interface .menuRow .brushs #strokeColorG::-ms-fill-lower, #interface .menuRow .brushs #colorG::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #strokeColorG::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #colorG::-ms-fill-lower {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorG::-ms-fill-upper, #interface .menuRow .brushs #colorG::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #strokeColorG::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #colorG::-ms-fill-upper {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorG::-ms-thumb, #interface .menuRow .brushs #colorG::-ms-thumb, #interface .menuRow .sousOptionsContainer #strokeColorG::-ms-thumb, #interface .menuRow .sousOptionsContainer #colorG::-ms-thumb {
          margin-top: 0px; }
      #interface .menuRow .brushs #strokeColorB, #interface .menuRow .brushs #colorB, #interface .menuRow .sousOptionsContainer #strokeColorB, #interface .menuRow .sousOptionsContainer #colorB {
        -webkit-appearance: none;
        appearance: none; }
        #interface .menuRow .brushs #strokeColorB::-moz-range-track, #interface .menuRow .brushs #colorB::-moz-range-track, #interface .menuRow .sousOptionsContainer #strokeColorB::-moz-range-track, #interface .menuRow .sousOptionsContainer #colorB::-moz-range-track {
          background-color: blue; }
        #interface .menuRow .brushs #strokeColorB::-webkit-slider-thumb, #interface .menuRow .brushs #colorB::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #strokeColorB::-webkit-slider-thumb, #interface .menuRow .sousOptionsContainer #colorB::-webkit-slider-thumb {
          margin-top: -9px;
          -webkit-appearance: none;
          border-radius: 50%;
          border: 1px solid white;
          width: 20px;
          height: 20px;
          background: blue;
          cursor: pointer;
          color: black; }
        #interface .menuRow .brushs #strokeColorB::-webkit-slider-runnable-track, #interface .menuRow .brushs #colorB::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #strokeColorB::-webkit-slider-runnable-track, #interface .menuRow .sousOptionsContainer #colorB::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: black; }
        #interface .menuRow .brushs #strokeColorB::-ms-fill-lower, #interface .menuRow .brushs #colorB::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #strokeColorB::-ms-fill-lower, #interface .menuRow .sousOptionsContainer #colorB::-ms-fill-lower {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorB::-ms-fill-upper, #interface .menuRow .brushs #colorB::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #strokeColorB::-ms-fill-upper, #interface .menuRow .sousOptionsContainer #colorB::-ms-fill-upper {
          background: black;
          border-radius: 50px; }
        #interface .menuRow .brushs #strokeColorB::-ms-thumb, #interface .menuRow .brushs #colorB::-ms-thumb, #interface .menuRow .sousOptionsContainer #strokeColorB::-ms-thumb, #interface .menuRow .sousOptionsContainer #colorB::-ms-thumb {
          margin-top: 0px; }
    #interface .menuRow .slider, #interface .menuRow .sliderCircle {
      width: 50px; }
  #interface .undoredo {
    border-top: 1px dotted rgba(249, 252, 255, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%; }
  #interface #undo, #interface #redo {
    background-color: #f9fcff;
    height: 24px; }
    #interface #undo:hover, #interface #redo:hover {
      cursor: pointer;
      background-color: #95d6e2; }
  #interface #undo, #interface #redo, #interface #opacityFill, #interface #opacityStroke, #interface #lineOptionWidth, #interface #color, #interface #colorStroke {
    margin: .4rem 0;
    width: 48px;
    height: 24px;
    color: black; }
  #interface #recordSubmit {
    border: 1px solid #f9fcff;
    width: 100%;
    height: 33px;
    font-size: 1rem;
    color: #f9fcff;
    background-color: #1b2021; }
    #interface #recordSubmit:hover {
      border: 1px solid #1b2021;
      color: #1b2021;
      background-color: #95d6e2;
      cursor: pointer; }

#opacityFill, #opacityStroke {
  text-align: center;
  width: 30px; }

#drawBrush, #drawLine, #drawLineForm, #drawRectangle, #drawCircle, #strokeOption, #fillOption, #undo, #redo {
  margin: .4rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  color: black;
  background-color: #f9fcff;
  transition: border-radius .5s; }
  #drawBrush:hover, #drawLine:hover, #drawLineForm:hover, #drawRectangle:hover, #drawCircle:hover, #strokeOption:hover, #fillOption:hover, #undo:hover, #redo:hover {
    background-color: #95d6e2;
    cursor: pointer; }

#undo:hover:after, #redo:hover:after {
  border-radius: 50%;
  border: 1px solid white;
  padding: .7rem;
  position: absolute;
  left: 110%;
  top: 0;
  color: #f9fcff;
  background-color: #1b2021;
  z-index: 103; }

#undo:hover:after {
  content: "Undo"; }

#redo:hover:after {
  content: "redo"; }

#code {
  padding: 10px;
  width: 702px;
  background-color: black;
  color: green;
  font-size: 16px;
  font-weight: bold;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all; }
  #code span {
    font-weight: inherit; }

#canvasRelative {
  position: relative; }

/*# sourceMappingURL=style.css.map */
